<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibnugaury.listview">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lazada"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lazada"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.Controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.Controller.ProjectActivity" />
        <activity android:name=".Main.Controller.DetailActivity" />
        <activity android:name=".Main.Controller.MainActivity"></activity>
    </application>

</manifest>